body,
html {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: HblveticaNeue;
}

@font-face {
  font-family: 'hn';
  src: url('../type/hn500.otf');

}

@font-face {
  font-family: 'hn400';
  src: url('../type/hn400.otf');

}

@font-face {
  font-family: 'hn-bold';
  src:
    url('../type/hn700.otf');

}

@font-face {
  font-family: 'hn-i';
  src:
    url('../type/hn500i.otf');

}

.header-img {
  position: fixed;
  mix-blend-mode: difference;
  width: 98%;
  top: -10px;
  left: 50%;
  /* Position it horizontally in the middle of the viewport */
  transform: translate(-50%, 0);
  /* Center it perfectly */
  z-index: 999;
  /* Ensure it's above other content */
}

.grid {
  position: fixed;
  right: 8.8%;
  top: 35%;
  z-index: 0.5;
  width: 33%;
}

.container {
  display: flex;
  /* Use flexbox for layout */
  height: 100vh;
  /* Set container height to full viewport height */
  z-index: 100;
}

.column-wrapper {
  flex: 1;
  /* Each wrapper takes equal width */
  overflow-y: auto;
  /* Enable vertical scrolling */

  padding-bottom: 100px;
  z-index: 200;

}

.column {
  padding: 20px;
  /* Add padding for content */

}



/* Hide scrollbar for Chrome, Safari and Opera */
.column-wrapper::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.column-wrapper {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.clearification {
  font-family: hn;
  font-weight: 500;
  font-size: 16px;
  margin-top: 120px;
  margin-left: 40%;
  width: 55%;
  letter-spacing: -0.02em;
  line-height: 1.2;
}

.italic {
  font-family: hn-i;
}

.paragraph {
  font-family: hn;
  font-size: 32px;
  margin-left: 15%;
  margin-top: 100px;
  margin-bottom: 100px;
  letter-spacing: -0.02em;
  line-height: 1.2;
  text-indent: 80px;
}

.title {
  font-family: hn-bold;
  font-weight: 500;
  font-size: 20px;
  margin-left: 15%;
  margin-bottom: 50px;
}

.body-begin,
.body {
  font-family: hn;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-right: 15%;
  margin-bottom: 50px;
}

.body {
  text-indent: 15%;
}

.disclaimer {
  font-family: hn;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  margin-right: 15%;
  margin-bottom: 50px;
}

.illu {
  width: 100%;
}

.capt01 {
  text-align: right;
  font-family: hn400;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 70px;
  color: #838383;

}

.works-img {
  width: 100%;
  margin-bottom: 80px;
}

.footer {
  mix-blend-mode: difference;
  z-index: 999;
}

.school,
.name {
  position: fixed;
  font-family: hn;
  font-weight: 500;
  font-size: 16px;
  mix-blend-mode: difference;
  color: #fff;
  z-index: 999;

}

.school {
  left: 50%;
  bottom: 2%;
}

.name {
  right: 2%;
  bottom: 2%;
}

@media (max-width: 750px) {
  .container {
    display: block;
  }

  .grid {
    display: none;
  }

  .header-img {
    top: 0;
  }
}